<!-- <div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div>
  <ol>
    <li *ngFor="let user of users | async">
      {{ user.name }}
      <button (click)="selectUser(user)">Select</button>
    </li>
  </ol>
  <p>Total de usuarios: {{ total | async }}</p>
  <p>Id usuario seleccionado: {{ selectCurrentUserId | async }}</p>
  <p>Usuario seleccionado: {{ selectCurrentUser | async | json }}</p>
</div>

<button (click)="deselectUser()">Deselect User</button> -->

<div>
  <h1>Bienvenido al ejemplo Angular 5 con NgRx</h1>
</div>

<main>
  <nav>
    <ul>
      <li><a [routerLink]="['home']">Home Page</a></li>
      <li><a [routerLink]="['users']">Users Page</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</main>