/* .main-navbar {
  padding: 1em;
  background-color: #dc143c;
}

.main-navbar__links {
  padding: 1em 0;
  display: inline;
}

.main-navbar__links:hover {
  background-color: #c01134;
}

.main-navbar__button {
  padding: 1em;
  text-decoration-style: none;
  text-decoration-line: none;
  color: #ffffff;
}

.content {
  padding: 0 4em 2em;
  /* background-color: #ebebeb; */
/* }  */
