/* .card {
  margin: 8px 0 16px;
  box-shadow: 6px 6px 4px #bbbbbb;
}

.card__title {
  background-color: #dc143c;
  padding: 1em 2em 1.5em;
}

.card__name {
  color: #ffffff;
  font-size: 1.6em;
  padding: 0;
  display: inline;
}

.card__subtitle {
  color: #dadada;
  font-size: .8em;
}

.card_pull-left { float: left; }
.card_pull-right { float: right; }
.card_clear { float: both; }

.card__body {
  padding: 0 2em;
  line-height: 0;
  background-color: #ffffff;
} */